@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }

  *,
  *::before,
  *::after {
    @apply border-gray-6;
    font-variation-settings: "opsz" 32;
  }

  :focus-visible {
    @apply outline-none;
  }

  .focus-visible :focus-visible {
    @apply outline outline-accent-7/75 outline-offset-2;
  }
}

.tiptap {
  @apply rounded-xl;
}

.tiptap .is-editor-empty:first-child::before {
  @apply text-gray-10 content-[attr(data-placeholder)] float-left h-0 pointer-events-none;
}

.cm-scroller {
  @apply font-mono;
}

@layer components {
  .typography {
    @apply max-w-[40ch] text-balance text-2xl text-gray-11 tracking-tight drop-shadow;
  }

  .typography .tiptap > *:first-child {
    margin-top: 0;
  }

  .typography .tiptap > *:last-child {
    margin-bottom: 0;
  }

  .typography :where([data-slot~="heading"]) {
    @apply mt-16 mb-8 text-5xl font-bold;
  }

  .typography :where([data-slot~="subheading"]) {
    @apply mt-12 mb-6 text-4xl font-semibold;
  }

  .typography :where(p) {
    @apply my-10 leading-normal first:mt-0 font-semibold;
  }

  .typography :where(code) {
    @apply font-mono text-[80%] [font-variant-ligatures:normal] border border-accent-7 py-[0.25%] px-[1%] bg-accent-6/35 text-accent-12 rounded-lg tracking-normal;
  }

  .typography :where(strong) {
    @apply font-bold
  }

  .typography :where(a) {
    @apply text-accent-12 cursor-pointer border-b border-transparent hover:text-accent-11 hover:border-current font-bold transition-colors;
  }

  .typography :where(ol, ul) {
    @apply my-7 pl-9;
  }

  .typography :where(ol) {
    @apply list-decimal;
  }

  .typography :where(ul) {
    @apply list-disc;
  }

  .typography :where(ul ul) {
    @apply list-[square];
  }

  .typography :where(li) {
    @apply marker:text-accent-6;
  }

  .typography
    :where([data-slot~="heading"] + *, [data-slot~="subheading"] + *) {
    @apply mt-0;
  }

  .typography :where(.h) {
    @apply text-gray-12;
  }

  .typography :where(code .h, a .h) {
    @apply text-accent-11;
  }
}
